@{
    ViewData["Title"] = "Inicio ";
}

<div class="container my-4">
    <div class="row">
        <h2 class="display-5">Sistema Institucional</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid rounded-circle img-inicio" src="~/img/inicio.jpg" alt="">
        </div>
        <div class="col-12 text-center my-4">
            <p style="font-weight: bold;">¡Le damos la bienvenida al sistema de kardex institucional!</p>
        </div>
    </div>
</div>