@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <h3 class="d-flex justify-content-center">Materias inscritas</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Nombre de la materia</th>
                    <th scope="col">Parcial 1</th>
                    <th scope="col">Parcial 2</th>
                    <th scope="col">Parcial 3</th>
                    <th scope="col">Parcial 4</th>
                    <th scope="col">Ordinario</th>
                    <th scope="col">Extraordinario</th>
                    <th scope="col">Titulo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div class="container mt-5">
    <h2 class="d-flex justify-content-center">Kardex Semestral</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Nombre de la materia</th>
                    <th scope="col">Parcial 1</th>
                    <th scope="col">Parcial 2</th>
                    <th scope="col">Parcial 3</th>
                    <th scope="col">Parcial 4</th>
                    <th scope="col">Ordinario</th>
                    <th scope="col">Extraordinario</th>
                    <th scope="col">Titulo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>