
@{
    ViewData["Title"] = "Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 error-container">
            <div class="error-code">
                Error 401
            </div>
            <div class="error-message">
                No cuentas con los permisos necesarios para acceder a esta página.
            </div>
            <img src="~/img/AccesoNoAutorizado.png" alt="Candado" class="lock-image">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="back-button">
                <a href="#" class="btn btn-primary mt-3">Ir a la página de inicio</a>
            </div>
        </div>
    </div>
</div>

